name: Lint & Test

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    permissions:
      contents: read       # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Run the linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Install graphviz
        run: sudo apt install --no-install-recommends -y graphviz

      - name: Run the tests and generate the coverage profile
        run: go test ./... --coverprofile=cover.out

      - name: Install gocovergate
        run: go install github.com/patrickhoefler/gocovergate@latest

      - name: Check the code coverage
        run: gocovergate

  build-native:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    needs: [lint, test]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Build
        run: make build

      - name: '[macOS] Install graphviz'
        if: runner.os == 'macOS'
        run: brew install graphviz

      - name: '[Ubuntu] Install graphviz'
        if: runner.os == 'Linux'
        run: sudo apt install --no-install-recommends -y graphviz

      - name: '[Windows] Install graphviz'
        if: runner.os == 'Windows'
        run: choco install graphviz --no-progress

      # Smoke tests
      - name: Get the version
        run: ./dockerfilegraph --version

      - name: Run the binary with flags
        run: ./dockerfilegraph --filename examples/dockerfiles/Dockerfile --legend --output png --dpi 200

  build-images:
    permissions:
      contents: read         # for actions/checkout to fetch code
      security-events: write # for uploading SARIF reports
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Build binaries and Docker image with GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: '~> v2'
          args: release --snapshot

      # Vulnerability check
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ghcr.io/patrickhoefler/dockerfilegraph:latest
          format: sarif # for GitHub Security tab
          output: trivy-report.sarif
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

      - name: Upload Trivy SARIF report
        uses: github/codeql-action/upload-sarif@v4.31.10
        if: always()
        with:
          sarif_file: trivy-report.sarif

      # Smoke tests
      - name: Get the version
        run: |
          docker run \
            ghcr.io/patrickhoefler/dockerfilegraph:latest \
            --version

      - name: Get the version on Ubuntu
        run: |
          docker run \
            ghcr.io/patrickhoefler/dockerfilegraph:ubuntu \
            --version

      - name: Run the Docker image with flags
        run: |
          cd examples/dockerfiles
          docker run \
            --user "$(id -u):$(id -g)" \
            --workdir /workspace \
            --volume "$(pwd)":/workspace \
            ghcr.io/patrickhoefler/dockerfilegraph:latest \
            --legend \
            --output png \
            --dpi 200

      - name: Run the Ubuntu-based Docker image with flags
        run: |
          cd examples/dockerfiles
          docker run \
            --user "$(id -u):$(id -g)" \
            --workdir /workspace \
            --volume "$(pwd)":/workspace \
            ghcr.io/patrickhoefler/dockerfilegraph:ubuntu \
            --legend \
            --output png \
            --dpi 200
