name: test

on:
  push:
    branches:
      - '*'

jobs:
  linux:
    strategy:
      matrix:
        go-version: [1.15.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Test with code coverage
      run: go test ./... -race -covermode=atomic -coverprofile=coverage.txt

    - name: Build binaries and Docker image with GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        args: release --snapshot --skip-publish

    - name: Make example directory writable for all users
      run: chmod o+w example

    - name: Run the built Docker image
      run: cd example && docker run --mount type=bind,source="$(pwd)",target=/dockerfile ghcr.io/patrickhoefler/dockerfilegraph:0.0.0

    - name: Upload code coverage
      uses: codecov/codecov-action@v1

  cross-platform:
    strategy:
      matrix:
        go-version: [1.15.x]
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v2

      # Some tests are currently broken on Windows, disable for now
    - name: Test
      if: runner.os != 'Windows'
      run: go test ./...

    - name: Build
      run: go build

    - name: '[macOS] Install graphviz'
      if: runner.os == 'macOS'
      run: brew install graphviz

    - name: '[Windows] Install graphviz'
      if: runner.os == 'Windows'
      run: choco install graphviz --no-progress

    - name: Run the binary
      run: cd example && ../dockerfilegraph
